.navbar {
    display:flex;
    background-color: rgb(23, 8, 54);
    justify-content:center;
    position:fixed;
    align-self: center;
    align-items:center;
    width: 80rem;
    margin-top:1rem;
    border-radius:20rem;
    height: 5rem;
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'Michroma', sans-serif;
    /* font-family: 'Gloria Hallelujah', cursive; */
    font-weight: 600;
    top:0%;
    letter-spacing:0.2rem;
    user-select: none;
}
.logo {
    align-self: center;
    width:20%;
    padding:0.2rem;
    font-size:1.3rem;
    color:rgb(90, 164, 214);
}
.logo img{
    max-width: 22%;
}
.logo:hover {
    color:aqua;
    cursor:pointer;
}

.links {
    color:rgb(90, 164, 214);
    display: flex;
    justify-content:space-between;
    font-size:0.8rem;
    letter-spacing:0.2rem;
}
.links .navlink{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    text-decoration: none;
    padding:0.5rem;
    margin-left:1rem;
    margin-right:1rem;
}
.links .activeNavlink div{
    border-radius: 24rem;
    margin-top:0.2rem;
    width: 100%;
    height:0.2rem;
    background-color:white;
}

.links .navlink div:hover{
    visibility: visible;
}
.links .activeNavlink{
    text-decoration: none;
    padding:0.5rem;
    color:rgb(90, 164, 214);    
    margin-left:1rem;
    margin-right:1rem;
    transition:0.5s
}
.links .navlink:hover {
    transition:1s;    
    color:aqua;    
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .navbar{
        width:40rem;
        margin-top:1.2rem;
        height:3.7rem
    }
    .logo{
        display:block;
        font-size:1.2rem;
    }
    .links .navlink{
        margin-left:0.3rem;
        font-size:0.8rem;
        margin-right:0.3rem;
    }
}
@media screen and (max-width: 400px) {
    .navbar{
        padding:2rem;
        margin-top:0rem;
        width:100%;
        border-radius:0rem 0rem 2rem 2rem;

    }
    .logo{
        display:none;
    }
    .navbar div{
    }
.links .navlink{
    margin-left:0.5rem;
    font-size:0.6rem;
    margin-right:0.5rem;
}
.links .activeNavlink{
    text-decoration: none;
    padding:0.5rem;
    margin-left:0.5rem;
    font-size:0.6rem;
    margin-right:0.5rem;
    transition:0.5s
}
}