.mainAboutInfo{
    background-color:#0e1212;
    height:100%;
    font-family: 'Anonymous Pro', monospace;
}

.myImage{
    border-radius: 60rem;
    top:9rem;
    left:-11rem;
    position:fixed;
    width:55rem;
    height:50rem;
}

.myImage img{
    opacity:0.9;
    object-fit:contain;
    object-position: right;
    border-radius: inherit;
    width:inherit;
    height:inherit;
    filter:brightness(0.9) contrast(1.3) grayscale(0.4);
    box-shadow: 0.2rem 0.2rem 1rem 0rem rgb(73, 79, 82);
}
.aboutMe{
    font-family: "Share Tech Mono", monospace;
    font-size:5rem;
    letter-spacing:-0.1rem;
    width:100%;
    height:100rem;
    display:flex;
    padding-bottom:2rem;
    filter: brightness(1);
    }
.aboutMe .leftAboutMe{
    width:34%;
}
.aboutMe .rightAboutMe{
    width:69%;
}
.aboutMe .rightAboutMe .title{
    margin-top:25rem;
    font-weight:1000;
    margin-bottom:2rem;
}
.color{
    color:#ffffff
}

.aboutMe .title .shehryaar{
    color:#0A66C2;
    font-family: 'Roboto Mono', monospace;
    word-spacing:-1.3rem;
    font-weight: 100;
}

.info{
    margin-top:1rem;
    margin-left: 0.3rem;
    font-family: 'Anonymous Pro', sans-serif, monospace;
    letter-spacing:0.1rem;
    font-size: 1.7rem;
    color:#639cd9;
}
.info .pakistan{
    margin-top:0.5rem;
}

