.main {
    /* font-family: 'Share Tech Mono', monospace; */
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'Anonymous Pro', monospace;
    background-color:#0e1212;
}
/* Scroll Down */
.title {
    text-align:center;
    font-family: 'Silkscreen' ;
    font-weight: 550;
    letter-spacing: -0.2rem;
    display:flex;
    justify-content:center;
    margin-bottom:3rem;
    font-size: 2.5rem;
}
.beforeStart{
    height:60rem;
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.scroll-downs {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width :34px;
    height: 55px;
  }
  .mousey {
    background-color:#121825;
    box-shadow: 0rem 0rem 10rem 0.5rem rgb(67, 84, 129);
    width: 14rem;
    height: 26rem;
    padding: 2rem 2rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10rem;
    opacity: 0.75;
    box-sizing: content-box;
    display: flex;
    justify-content:center;
  }
  .scroller {
    font-size: 5rem;
    margin-top:1rem;
    justify-content:center;
    height:10rem;
    animation-name: scroll;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.9);
    animation-iteration-count: infinite;
  }

  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15rem); opacity: 0.;}
  }
/*  */




.start, .mid, .end{
padding:2rem;
}

.div {
    display:flex;
    height:80rem;

}
.div .left{
    width:20%;
    display:flex;
    align-self: center;
    justify-content:end;
}
.div .line1, .div .line2, .div .line3{
    height:40rem;
    width: 0.2rem;
    background-color:#639cd9;
}
.div .right{
    width: 80%;
    align-self: center;
}

.start{
    transform: translateY(2rem);
    position:absolute;

}
.mid{
    position:absolute;
}

.start .introStart {
    /* font-family: 'Archivo Black', sans-serif; */
    letter-spacing:0.1rem;
    font-size: 10rem;
    font-weight: 1000;
    display: flex;
    gap:2rem;
    height:6rem;
}

.start .introStart span:nth-child(1) {
    color:rgb(160, 159, 159);
}

.start .introStart {
    font-weight: 1000;
}

.start .infoStart .nameStart{
    margin-left:1rem;
    display: flex;
    font-size: 2rem;
    gap:1rem;
    letter-spacing:0.1rem;
    margin-top : 1rem;
    color: #639cd9;
}

.start .infoStart  .fieldWeb, .start .infoStart  .fieldCyber {
    margin-left:1rem;
    color:rgb(92, 95, 95);
    font-size: 1.7rem;

}

.start .infoStart  .fieldWeb {
    margin-top : 1.3rem;
}
.start .infoStart  .fieldCyber {
    margin-top : 0.8rem;
}



.mid {
    display:flex;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    letter-spacing:-2.2px;
    font-size:32px;
}
.mid .infoMid {
    height:auto;
}

.mid .infoMid .midText1,.mid .infoMid .midText2,.mid .infoMid .midText3,.mid .infoMid .midText4{
    padding-top:2rem;
    padding-bottom:2rem;
}

.mid .infoMid .midText1{
    font-size:5rem;
    word-spacing:-0.5rem;
}
.mid .infoMid .midText2{
    word-spacing:-0.5rem;
    font-size:3.5rem
}
.mid .infoMid .midText3{
    padding-top:1rem;
    padding-bottom:1rem;
    font-size:2.3rem
}
.mid .infoMid .midText4{
    padding-top:1rem;
    font-size:1.35rem
}
.end {
    display:flex;
    justify-content:start;
    font-family: "Quicksand", monospace;
    letter-spacing:-2.2px;
    font-size:32px;
    font-weight: 1000;
    align-items:start;
}
.end .infoEnd .endText1,.end .infoEnd .endText2,.end .infoEnd .endText4{
    padding-top:3rem;
    padding-bottom:1rem;
}
.end .infoEnd .endText1{
    font-family: 'Share Tech Mono',monospace ;
    color:#8400ff;
    letter-spacing:-0.3rem;
    font-size: 6rem;
    font-weight: 1000;
}
.end .infoEnd .endText2{
    margin-bottom: 0.3rem;
}
.end .infoEnd .endText2, .end .infoEnd .endText3{
    font-size: 2.7rem;
}
.end .infoEnd .endText4{
    font-size: 2.7rem;
}
.end .infoEnd .endText5{
    padding-top:1.5rem;
    font-size: 2.4rem;
}

.end .infoEnd .endText6{
    scale: 0;
    text-align: center;
    user-select: none;
    position:absolute;
    top:50%;
    font-weight: 1000;
    font-family: 'Share Tech Mono',monospace ;
    word-spacing: -1rem;
    letter-spacing:-1rem;
    width:60rem;
    font-size: 10rem;
    transform:translate(-50%,-50%);
}
.end .infoEnd .endText6:hover{
    cursor: pointer;
    color:#8400ff;
}

.divAnimate{
    position:fixed;
    height:50rem;
    width:40rem;
    top: 5%;
    left:0%;
}