.main {
    /* font-family: 'Share Tech Mono', monospace; */
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'Anonymous Pro', monospace;
    background-color:#14131b;

}
/* Scroll Down */
.title {
    text-align:center;
    display:flex;
    justify-content:center;
    margin-bottom:5rem;
    font-size: 2rem;
}
.beforeStart{
    height:55rem;
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.scroll-downs {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width :34px;
    height: 55px;
  }
  .mousey {
    background-color:#121825;
    box-shadow: 0rem 0rem 10rem 0.5rem rgb(67, 84, 129);
    width: 10rem;
    padding: 2rem 2rem;
    height: 20rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10rem;
    opacity: 0.75;
    box-sizing: content-box;
    display: flex;
    justify-content:center;
  }
  .scroller {

    font-size: 5rem;
    margin-top:1rem;
    justify-content:center;
    height:5rem;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }

  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(10rem); opacity: 0;}
  }
/*  */




.start, .mid, .end{
height:50rem;
padding:2rem;
}

.start {
    display:flex;
    justify-content:start;
}
.start .left, .mid .left, .end .left {
    width:20%;
    display:flex;
    justify-content:end;
}
.start .line, .mid .line, .end .line {
    height:38rem;
    width: 0.2rem;
    background-color:#639cd9;
    margin-right:1rem;

}
.start .right, .mid .right .end .right{
    width: 80%;
}

.start .intro {
    /* font-family: 'Archivo Black', sans-serif; */
    letter-spacing:0.1rem;
    font-size: 8rem;
    font-weight: 1000;
    display: flex;
    gap:2rem;
}
t-in.intro {
    opacity: 1;
    transition: opacity .5s;
}
t-out.intro {
    opacity: 0;
    transition: opacity .25s;
}
.start .intro span:nth-child(1) {
    color:rgb(160, 159, 159);
}

.start .info {
    font-size: 1.7rem;
}

.start .info .name {
    margin-left:1rem;
    display: flex;
    gap:1rem;
    margin-top:1rem;
    letter-spacing:0.1rem;
    color:rgb(132, 0, 255);

}

.start .info .fieldWeb, .start .info .fieldCyber {
    margin-left:1rem;
    color:rgb(92, 95, 95);

}

.start .info .fieldWeb {
    margin-top : 1rem;
}
.start .info .fieldCyber {
    margin-top : 0.5rem;
}

.mid {
    display:flex;
    justify-content:start;
    align-items: center;

}
.mid .info {
    height:auto;
}

.end {
    display:flex;
    justify-content:start;
}