.mainIndexContact{
    background-color:#0e1212;
    height:61rem;
    padding: 2rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    font-weight:1000;
    font-family: 'Quicksand', monospace;
    user-select: none;
}
.mainIndexContact div{
}
.mainIndexContact .heading{
    padding: 1rem;
    font-size:3.5rem;
    color:#639cd9;
    font-family: 'Michroma', sans-serif;
    letter-spacing: 0.2rem;
}

.mainIndexContact .text1 , .text2{
    padding: 2.5rem;
    font-size:1.5rem;
    letter-spacing: 0.2rem;
}

.mainIndexContact .social{
    display: flex;
}

.text2 span{
    color:#6fda44ca;
    letter-spacing: 0rem;
    font-size:1.8rem;
}

.mainIndexContact a Button{
    display:flex;
    justify-content:center;
}

.icon{
    display:flex;
}
@media screen and (max-width: 600px) {
    .mainIndexContact .heading{
        padding: 0.5rem;
        font-size:3rem;
        font-family: 'Michroma', sans-serif;
        letter-spacing: 0.2rem;
    }
    .mainIndexContact .text1 , .text2{
        font-size:1.2rem;
        letter-spacing: 0.2rem;
    }
}


@media screen and (max-width: 420px) {
    .mainIndexContact{
        padding-top:4rem;
        background-color:#0e1212;
        height:52rem;
        display:flex;
        flex-direction:column;
        justify-content:start;
    }
    .mainIndexContact .heading{
        padding: 0.5rem;
        font-size:1.8rem;
        font-family: 'Michroma', sans-serif;
        letter-spacing: 0.2rem;
    }
    .mainIndexContact .text1 , .text2{
        padding:  2rem 1.5rem 2rem 1.5rem;
        font-size:1rem;
        letter-spacing: 0.2rem;
    }
}